/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

*,
:after,
:before {
    -webkit-tap-highlight-color: rgba(
        0,
        0,
        0,
        0
    ); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: inherit;
}

html {
    font-size: 62.5%;
}

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI",
        "Roboto", sans-serif;
    height: 100vh;

    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
        env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    width: 100%;
    outline: none;
    -webkit-font-smoothing: antialiased; /* smooth out the font AND svg icons !!! */
}

.player {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #12161d;
}

.player-top {
    /* height: 66%; */
    display: flex;
}

.playlist-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    background-color: #12161d;
    position: absolute;
    top: 0;
    z-index: 1000;
}

#playlistBtn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3.52% 0;
}

#playlistBtn-img {
    width: 1.6rem;
    height: 1rem;
}

#playlistBtn-text {
}

#playlistBtn div:last-child {
    width: 1.6rem;
    height: 1rem;
}

.playlist-container ul {
    height: 100%;
    position: relative;
    overflow: auto;
    max-height: 0;
    width: 100%;
}

.playlist-container ul li {
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    text-align: left;
}

.playlist-container ul li img {
    margin-left: 2.4rem;
    height: 4.8rem;
    width: 4.8rem;
}

.playlistSongInfoContainer {
    margin-left: 1.5rem;
}

.playlistTitle {
    font-weight: 500;
}

.playlistAlbumArtist {
    color: grey;
    font-size: 1.4rem;
}

.animateDown {
    animation: menuEffectDown 0.6s;
}

.animateUp {
    animation: menuEffectUp 0.6s;
}

@keyframes menuEffectDown {
    from {
        max-height: 0;
    }
    to {
        max-height: calc(100vh - 4.8rem);
    }
}

@keyframes menuEffectUp {
    from {
        max-height: calc(100vh - 4.8rem);
    }
    to {
        max-height: 0;
    }
}

.img-container {
    /* height: 34.8rem; */
    width: 100%;
    margin-top: 11.65%;
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-shrink: 0; */
}

.img-container img {
    display: block;
    max-width: 100%;
    object-fit: contain;
}

.player-bottom {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    /* height: 26%; */
}

::-webkit-progress-bar {
    background-color: #000;
}

::-webkit-progress-value {
    background-color: #fff;
}

::-webkit-progress-inner-element {
}

.song-info {
    background-color: #000;
    color: #fff;
    /* height: 7.4rem; */
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}

#song-played-progress {
    display: block;
    height: 0.2rem;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    margin-left: 0px;
    background: #000;
}

#song-played-progress::-webkit-slider-runnable-track {
    background: unset;
}

#song-played-progress::-webkit-slider-thumb {
    background: transparent;
}

#duree {
    display: flex;
    justify-content: space-between;
    padding: 0.97% 2.91% 0 2.91%;
    font-size: 1.4rem;
    background-color: #000;
    /* flex: 0 0; */
}

.title,
.album {
    text-align: center;
    font-size: 1.6rem;
}

.album {
    color: #625c5c;
    padding: 0.73% 2.43% 2.43% 2.43%;
    font-size: 1.4rem;
    background-color: #000;
}

.player-control {
    background-color: #192029;
    padding: 0 6.07%;
    /* height: 14.7rem; */
    display: flex;
    flex-direction: column;
    /* flex-shrink: 0; */
}

.control-container {
    display: flex;
    justify-content: space-between;
    padding: 6.63% 0;
}

.control-container div {
    cursor: pointer;
    margin: auto;
}

.control-container #shuffle,
.control-container #repeat {
    opacity: 0.7;
    padding: 5.53% 1.66%;
    box-sizing: content-box;
}

.control-container #shuffle {
    background: url(../img/shuffle.svg);
    width: 1.5rem;
    margin-left: 2%;
    height: 1.7rem;
    background-clip: content-box;
    background-origin: content-box;
}

.control-container #previous,
.control-container #next {
    width: 2.4rem;
    height: 2.4rem;
    padding: 5.53%;
    box-sizing: content-box;
}

.control-container #previous {
    background: url(../img/previous.svg);
    background-clip: content-box;
    background-origin: content-box;
    /* padding: 0; */
}

.control-container #play {
    background: url(../img/play.svg);
    width: 7rem;
    height: 7rem;
    margin: 0 3%;
}

.control-container #next {
    background: url(../img/next.svg);
    background-clip: content-box;
    background-origin: content-box;
}

.control-container #repeat {
    background: url(../img/repeat.svg);
    width: 1.8rem;
    height: 2rem;
    margin-right: 2%;
    background-clip: content-box;
    background-origin: content-box;
}

.volume-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.2%;
}

.volume-container img {
    width: 1.8rem;
    height: 1.8rem;
}

/** This gives us invisible or unstyled range inputs in all browsers. Now we can apply our custom styles. **/

input[type="range"] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    margin-left: 1rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type="range"]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/** Styling the Thumb **/

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* border: 1px solid #000000; */
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -0.8rem; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */ /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
    /* border: 1px solid #000000; */
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

/* All the same stuff for IE */
input[type="range"]::-ms-thumb {
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
    /* border: 1px solid #000000; */
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

/** Styling the Track **/

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
    background: #fff;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #fff;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
    background: #fff;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    /* border-width: 16px 0; */
    color: transparent;
}
input[type="range"]::-ms-fill-lower {
    background: #fff;
    /* border-radius: 2.6px; */
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
}
input[type="range"]:focus::-ms-fill-lower {
    background: #fff;
}
input[type="range"]::-ms-fill-upper {
    background: #fff;
    /* border-radius: 2.6px; */
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
}
input[type="range"]:focus::-ms-fill-upper {
    background: #fff;
}

/* Fin MON CSS */

@keyframes fade {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
    .player {
        flex-direction: row;
        height: 100.1%; /* Fix to the thin white gap at the bottom of the screen */
    }

    .player-top {
        width: 50%;
    }

    .player-bottom {
        width: 50%;
        height: 100%;
    }

    .song-info {
        width: auto;
    }

    .title-album-container {
        order: 1;
        flex: 1 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #player-progress-bar-container {
        order: 2;
    }

    #duree {
        order: 3;
    }

    .playlist-container {
        position: static;
        max-height: 100vh;
        display: block;
    }

    .playlist-container ul {
        position: absolute;
        top: 4.8rem;
        background-color: inherit;
        width: unset;
    }

    .img-container {
        margin-top: 0;
    }

    .img-container img {
        height: 100%;
    }

    .song-info {
        height: unset;
        flex: 1 1;
    }

    .album {
        padding-top: 4%;
    }

    .control-container #previous,
    .control-container #next {
        padding: 2rem 1rem;
    }
}
